name : Build node application and deploy 
on:
  push:
    branches:
      - master
jobs:
  Codereview-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4       
      - name: Install dependencies
        run: npm ci
      - name: Review code 
        run: npm run lint
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Build application
        run: npm run build
      - name: Test application
        run: npm test
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Test-artifact
          path: test.json
  deploy-job:
    needs: test-job
    runs-on: ubuntu-latest  
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Build application
        run: npm run build
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Build-artifact
          Path: dist/
        
